{% extends 'AvanzuAdminThemeBundle:layout:base-layout.html.twig' %}

{% block title %}CrawlWeb.info Admin - Users{% endblock %}
{% block page_title %}Users{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Users</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody><tr>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Last login</th>
                            <th>Email</th>
                            <th>Roles</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>admin</td>
                            <td>2017-07-05 06:58:08</td>
                            <td>admin@crawlweb.info</td>
                            <td>Admin</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>test_user</td>
                            <td>2017-07-01 10:56:08</td>
                            <td>test@usertest.com</td>
                            <td>User</td>
                        </tr>
                        </tbody></table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}