{# app/Resources/views/Emails/registration.html.twig #}
<h3>No template was found for content:</h3>

Content URL: {{ url }}

{# example, assuming you have a route named "login" #}

Kind regards,
    The System

{# Makes an absolute URL to the /images/logo.png file #}